@import 'scss/vars.scss';

.wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    font-family: $primaryFont;
    font-weight: 400;
}

.buttons {
    display: flex;
}

.value {
    font-family: $primaryFont;
    font-weight: 400;
}

.itemWrapper:not(:first-child) {
    margin-left: 10px;
}
