@import "./fonts.scss";

$primary100: #f5f5f4;
$primary300: #d6d3d1;
$primary400: #a8a29e;
$primary500: #78716c;
$primary600: #57534e;
$primary900: #1c1917;

$white: #ffffff;
$primaryFont: 'Open Sans, serif';
$secondaryFont: 'Lobster, serif';